/* https://colorhunt.co/palette/fdf7e4faeed1ded0b6bbab8c */

.container {
    margin: 0 auto;
    max-width: 900px;
}

 .tab-window {
    position: relative;
    margin: 1rem 1.5rem 1rem 5rem;
    border: 1px solid black;
    max-width: 900px;
    height: 80vh;
    min-height: 400px;
    max-height: 800px;
}

.tab-menu {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
} 

.tab-list li {
    margin: .25rem 1rem;
    background: var(--lighter);   
}

.tab-list li .active-tab {
    background: var(--dark);
}
