/* https://colorhunt.co/palette/fdf7e4faeed1ded0b6bbab8c */

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.tab-window {
  position: relative;
  margin: 1rem 1.5rem 1rem 7rem;
  padding: 1.5rem;
  min-height: 200px;

  height: 90vh;
  background: var(--lightest);
}

.tab-menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.tab-list {
  margin-top: 2rem;
}

.tab-list li {
  margin: 0.25rem 0;
  padding: 0.25rem 1rem;
  background: var(--light);
}

.tab-list li.active {
  background: var(--lightest);
}

.table-container {
  max-height: calc(100% - 3rem);
  overflow-y: auto;
}

.table-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
  width: 0;
  height: 0;
  display: none;
}

table {
  background: var(--lighter);
  border: 2px solid #555;
  border-collapse: collapse;
  margin: 1rem 0;
  width: 100%;
}

table thead {
  background: var(--dark);
}

table th {
  padding: 0.25rem 0.5rem;
  text-align: left;
}

table td {
  padding: 0.5rem;
}

table td,
table th {
  border-right: 2px solid #555;
}

/* Style table rows alternately */
table tbody tr:nth-child(even) {
  background-color: var(--light);
}
